html{
  width:100%;
  height:100%;

}
h1{
  text-align:center;
}

body{
  text-align:center;
  background-color: #C7C5C5; 
}
h3{
  padding-top: none;
}
p{
  padding-top: none;
}


.row{
  display:flex;
  justify-content: space-evenly;
  font-size: 30px;
    cursor: pointer;
}
.column{
  padding: 5px;
}


.results1 {
    position: flex;
    justify-content: space-evenly;
    background: #ff8f00;
    border-radius: 15px;
    z-index:-1;

}

.results2 {
    position: flex;
    justify-content: space-evenly;
    background: #03fc6f;
    border-radius: 15px;
      font-size: 30px;
    z-index:-1;

}